html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/*-------------------------------------------*/


.about {
    margin-right:auto;
    margin-left: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 98%;
    justify-content: center;
   margin-top: 30px;
    background-color: chocolate;
    color: bisque;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    
}
.about > img {
    width: 15%;
    
}
.about h1 {
    font-size: 1.5rem;
    align-self: center;
}
.navbar {
    display: flex;
   justify-content: space-between;
    background-color: chocolate;
    height: 50px;
    position: sticky;
    top: 0;

    
}
.navbar h1 {
    color: bisque;
    font-size: 2rem;
    align-self: center;
    
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 5px;
    
}
.links a {
    color: bisque;
    text-decoration: none;
   
}

.projects {
    display: flex;
    margin-top: 30px;
   
}
.horiseon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 98%;
    
    /* height: 90%; */
    background-color: chocolate;
    margin-right: auto;
    margin-left: auto;
    margin-top: 9px;
    border-radius: 15px;
    
    
}
.horiseon img {
   width: 100%;
    height: 90%;
    border-radius: 15px;
    /* margin-top: 16px; */
    /* margin: auto; */
    /* display: block; */
    /* margin-right: auto;
    margin-left: auto; */
    
    
}
.horiseon h1 {
    position: absolute;
    font-size: 2.5rem;
    margin:5px;
    color: white;
}
.horiseonBlurb {
    text-align: center;
}
.projects {
    display: flex;
    justify-content: center;
}
.projects h1 {
    font-size: 2rem;
}


.container {
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    margin: 9px;
    /* background-color: chocolate; */
    
    /* flex-wrap: wrap; */
    @media screen and (max-width: 275px) {
        
            flex-direction: column;
        
        
    }
}
.container img {
    width: 90%;
    /* height: 90%; */
    border-radius: 15px;
}

.contact {
    display: flex;
    background-color: chocolate;
    justify-content: space-between;
    color: bisque;
    align-items: center;
    width: 98%;
    margin:auto;
   margin-top: 20px;
   
}
ul li{
    display: inline-block;
    margin: 20px;
   
}
.contact > h1 {
    margin-left: 10px;
}


*, h1, p {
    font-family: sans-serif;
}